{% extends 'base.html.twig' %}

{% block title %}{{ course.Name }} / StudyOn{% endblock %}

{% block body %}
    <!-- Modal -->
    {% if type != 'free' and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        {% if type == 'buy' %} Покупка {% else %} Аренда {% endif %} курса "{{ course.Name }}"
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите {% if type == 'buy' %} купить {% else %} арендовать {% endif %} курс "{{ course.Name }}" за {{ price }}$ ?
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Закрыть</button>
                        {% if balance < price %}
                            <a role="button" class="btn disabled">
                                {% if type == 'buy' %} Купить {% else %} Арендовать {% endif %}
                            </a>
                        {% else %}
                            <a role="button" href="{{ path('app_course_buy', {'id': course.id}) }}" class="btn btn-dark buy-link">
                                {% if type == 'buy' %} Купить {% else %} Арендовать {% endif %}
                            </a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% for message in app.flashes('notification') %}
            <div class="alert alert-dark alert-dismissible fade show notification-message">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}
    <h1 class="course_page_header">{{ course.Name }}</h1>
    <p class="course_description">{{ course.Description }}</p>
    {% if course.lessons|length > 0 %}
        <h1>Уроки</h1>
    {% endif %}
    {% if course.lessons|length > 0 %}
        <div class="list-group">
            {% for lesson in course.lessons|sort((a,b) => a.SequenceNumber <=> b.SequenceNumber) %}
                <button class="list-group-item lesson_field" data-bs-toggle="collapse" href="#lesson{{ lesson.id }}" data-bs-target="#lesson{{ lesson.id }}" aria-expanded="false" aria-controls="lesson{{ lesson.id }}">
                    <div class="d-flex w-100 align-items-center" >
                        <h5 class="mb-1">{{ lesson.SequenceNumber }}. {{ lesson.Name }}</h5>
                    </div>
                </button>
                <div class="collapse" id="lesson{{ lesson.id }}" style="">
                    <div class="card card-body">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="btn btn-dark link_to_edit_lesson" href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать урок</a>
                            <a class="btn btn-dark mt-3 link_to_lesson"  href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Перейти к уроку</a>
                        {% else %}
                        <a class="btn btn-dark link_to_lesson"  href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Перейти к уроку</a>
                           {% endif%}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

 <div class="mt-1">
    {% if type != 'free' and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="d-flex justify-content-start align-items-center">
                    <button type="button" class="btn btn-dark" style="margin-right: 5px;" data-bs-toggle="modal" data-bs-target="#buyModal">
                        {% if type == 'buy' %} Купить {% else %} Арендовать {% endif %}
                    </button>
            <h5 class="m-0">Цена: {{ price }}$</h5>
        </div>
     {% endif %}
     <a href="{{ path('app_course_index') }}" type="button" class="btn btn-dark my-1">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
             <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
         </svg>
         Вернуться к курсам
     </a>

     {% if is_granted('ROLE_SUPER_ADMIN') %}
         <a href="{{ path('app_course_edit', {'id': course.id}) }}" type="button" class="btn btn-dark my-1 edit_course_link">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                 <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
             </svg>
             Редактировать курс
         </a>

         <a href="{{ path('app_lesson_new', {'id': course.id}) }}" type="button" class="btn btn-dark my-1 link_to_add_lesson">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"></path>
                 <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
                 <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
             </svg>
             Добавить урок
         </a>
         </div>


         <div class="my-1" style="margin-left: 0">{{ include('course/_delete_form.html.twig') }}</div>
     {% endif %}

{% endblock %}
