{% extends 'base.html.twig' %}

{% block title %}Редактирование урока {{ lesson.Name }} / {{ lesson.Course.Name }} / StudyOn{% endblock %}

{% block body %}
    <h1>Редактирование урока "{{ lesson.Name }}"</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Обновить информацию об уроке'}) }}

    <a href="{{ path('app_course_show',{'id': lesson.Course.id}) }}">Вернуться к списку уроков курса</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
